.movieText {
   color: green;
   text-align: left;
   font-size: 18px;
}

.movieHeading {
   color: red;
   text-align: left;
}

.border {
   border: 5px;
   padding: 5px;
   border-style: solid;
   border-color: blue;
}